/* Insert.css */
/* Insert.css */
.insert-container {
  /* background-color: rgba(210, 214, 216, 0.8); */
  padding: 60px;
  border-radius: 10px;
  width: 50%;
  
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
 
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 190px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  
}

  .form-label {
    color: #000000;
    font-weight: bold;
  }
  
  .input-field {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #161313;
    border-radius: 5px;
    width: 100%;
  }
  
  .add-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #3abd41;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: #2272e2;
  }
  
  .submit-button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #267ef9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #17c8eb;
  }
  

  .dropdown-input {
    width: 102%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #050404;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
  }
  
  .dropdown-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px #007bff;
  }
  
  .dropdown-input option {
    background-color: #fff;
    color: #333;
  }
  
  .dropdown-input option:hover {
    background-color: #007bff;
    color: #fff;
  }
  